# Dependencies
node_modules/
package-lock.json
yarn.lock
.pnpm-store/

# Build output
dist/
build/
.output/

# Environment variables
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/